playbook-Enrichment_for_Verdict.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.2.4
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: This playbook checks prior alert closing reasons and performs enrichment
  on different IOC types. It then  returns the information needed to establish the
  alert's verdict.
id: Enrichment for Verdict
inputs:
- description: The number of previous alerts that were closed as false positive alerts.
    This threshold establishes whether the Previous Verdict key will be marked as
    false positive.
  key: threshold
  playbookInputQuery: null
  required: false
  value:
    simple: "5"
- description: |-
    A query for the previous alerts search.
    Use free form query (Lucene syntax) as a filter. All other filters are ignored when this filter is used.
  key: query
  playbookInputQuery: null
  required: false
  value:
    simple: (initiatorsha256:${inputs.FileSHA256} or hostip:${inputs.IP}) and alertsource:${alert.sourceBrand}
      and alertname:${alert.name}
- description: |-
    The closing reason of the previous alerts to search for.
    Possible values are:
    - Resolved - Threat Handled
    - Resolved - True Positive
    - Resolved - False Positive
    - Resolved - Security Testing
    - Resolved - Known Issue
    - Resolved - Duplicate Incident
    - Resolved - Other
    - Resolved - Auto
  key: CloseReason
  playbookInputQuery: null
  required: false
  value:
    simple: Resolved - False Positive,Resolved - Duplicate Incident,Resolved - Known
      Issue
- description: File MD5 to enrich and give verdict.
  key: FileMD5
  playbookInputQuery: null
  required: false
  value: {}
- description: File SHA256 to enrich and give verdict.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: initiatorsha256
      root: alert
- description: IP address to enrich and give verdict.
  key: IP
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: hostip
      root: alert
- description: 'A list of internal IP ranges to check IP addresses against. The list
    should be provided in CIDR notation, separated by commas. An example of a list
    of ranges is: "172.16.0.0/12,10.0.0.0/8,192.168.0.0/16" (without quotes). If a
    list is not provided, will use the default list provided in the IsIPInRanges script
    (the known IPv4 private address ranges).'
  key: InternalRange
  playbookInputQuery: null
  required: false
  value: {}
- description: Determines whether to convert the IP address to a hostname using a
    DNS query (True/ False).
  key: ResolveIP
  playbookInputQuery: null
  required: false
  value: {}
- description: URL to enrich and give verdict.
  key: URL
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: url
      root: alert
- description: User to enrich and give verdict. (AWS IAM or Active Directory).
  key: User
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: username
      root: alert
- description: Domain to enrich and give verdict.
  key: Domain
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: domainname
      root: alert
- description: Name of the AWS IAM user to enrich.
  key: awsUser
  playbookInputQuery: null
  required: false
  value: {}
name: Enrichment for Verdict
outputs:
- contextPath: PreviousVerdict
  description: Suspected verdict for previous alerts.
  type: string
- contextPath: VTFileVerdict
  description: Check for VirusTotal verdict.
  type: unknown
- contextPath: NSRLFileVerdict
  description: Check for the file presence in NSRL DB.
  type: unknown
- contextPath: VTFileSigners
  description: Check VirusTotal if the file is signed by a trusted publisher.
  type: unknown
- contextPath: XDRFileSigners
  description: Check XDR alert if the file is signed by a trusted publisher.
  type: unknown
- contextPath: IP
  description: The IP objects.
  type: unknown
- contextPath: DBotScore
  description: Indicator's dbot Score, dbot Type and Vendor.
  type: unknown
- contextPath: Endpoint
  description: The endpoint's object.
  type: unknown
- contextPath: URL
  description: The URL object.
  type: uknown
- contextPath: AWS.IAM.Users
  description: AWS IAM user information.
  type: unknown
- contextPath: AWS.IAM.Users.AccessKeys
  description: AWS IAM user access keys information.
  type: unknown
- contextPath: Account
  description: The account object.
  type: unknown
- contextPath: ActiveDirectory.Users
  description: Active Directory user information.
  type: unknown
- contextPath: IPVerdict
  description: Specifies whether the IP addresses were found as suspicious.
  type: unknown
- contextPath: URLVerdict
  description: Specifies whether the URLs were found as suspicious.
  type: unknown
- contextPath: FileVerdict
  description: Specifies whether the files were found as suspicious.
  type: unknown
- contextPath: WildFire.Report
  description: WildFire report object.
  type: unknown
- contextPath: WildFire.Report.verdict
  description: The verdict of the report.
- contextPath: WildFire.Verdicts.Verdict
  description: Verdict of the file.
- contextPath: WildFire.Verdicts.VerdictDescription
  description: Description of the file verdict.
- contextPath: DomainVerdict
  description: Domain verdict
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 5ce182a9-e385-4dc9-856e-27c5ee59106b
      iscommand: false
      name: ""
      version: -1
    taskid: 5ce182a9-e385-4dc9-856e-27c5ee59106b
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1530,
          "y": -260
        }
      }
  "8":
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "9"
    note: false
    quietmode: 0
    scriptarguments:
      query:
        complex:
          root: inputs.query
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Searches Demisto incidents.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs.paloaltonetworks.com/cortex/cortex-xsoar/6-2/cortex-xsoar-admin/playbooks/automations.html
      id: 3aee0937-266f-4d36-8a61-dd635a29d5ce
      iscommand: false
      name: 'Check previous alerts '
      script: SearchIncidentsV2
      type: regular
      version: -1
    taskid: 3aee0937-266f-4d36-8a61-dd635a29d5ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1530,
          "y": -100
        }
      }
  "9":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: foundIncidents.rawCloseReason
          operator: containsGeneral
          right:
            iscontext: true
            value:
              complex:
                root: inputs.CloseReason
                transformers:
                - args:
                    delimiter:
                      value:
                        simple: ','
                  operator: split
      label: "yes"
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "36"
      "yes":
      - "35"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Were previous alerts closed as false positive?
      id: 2be9ff23-85bc-41f5-8d82-9efef006b280
      iscommand: false
      name: Were previous alerts closed as false positive?
      type: condition
      version: -1
    taskid: 2be9ff23-85bc-41f5-8d82-9efef006b280
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1530,
          "y": 90
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      sha256:
        complex:
          root: inputs.FileSHA256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieves results for a file hash using WildFire.
      id: 14746f35-5c95-4d1a-8a91-7fa59072f7d7
      iscommand: true
      name: Get WildFire report
      script: '|||wildfire-report'
      type: regular
      version: -1
    taskid: 14746f35-5c95-4d1a-8a91-7fa59072f7d7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 1130
        }
      }
  "15":
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      forEach: true
      iscommand: false
      max: 100
      wait: 5
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      DetectionThreshold:
        simple: "5"
      FileSHA256:
        complex:
          root: inputs.FileSHA256
      TrustedPublishers:
        simple: |-
          Microsoft Root Authority,Microsoft Timestamping Service,
          Microsoft Code Signing PCA, Microsoft Corporation
    separatecontext: false
    skipunavailable: true
    task:
      brand: ""
      description: "This playbook checks the file reputation and set the verdict as
        a new context key.\n\nThe verdict is composed by 3 main components:\n\n* VirusTotal
        detection rate\n* Digital certificate signers\n* NSRL DB\n\nNote: a user can
        provide a list of trusted signers of his own using the playbook inputs\n "
      id: e26a72e6-844c-498b-89e2-00d189f6d392
      iscommand: false
      name: File Reputation
      playbookId: File Reputation
      type: playbook
      version: -1
    taskid: e26a72e6-844c-498b-89e2-00d189f6d392
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 770
        }
      }
  "16":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: NSRLFileVerdict
          operator: isEqualString
          right:
            value:
              simple: IsNSRL
      - - left:
            iscontext: true
            value:
              simple: VTFileVerdict
          operator: isEqualString
          right:
            value:
              simple: Benign
      - - left:
            iscontext: true
            value:
              simple: XDRFileSigners
          operator: isEqualString
          right:
            value:
              simple: Trusted
      label: "yes"
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "14"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the file found as benign?
      id: c9ed2037-c42e-40a6-8ddc-0f5b5d987851
      iscommand: false
      name: Was the file found as Benign?
      type: condition
      version: -1
    taskid: c9ed2037-c42e-40a6-8ddc-0f5b5d987851
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 960
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.FileSHA256
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "15"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a file?
      id: 7fa291b2-c819-414f-8aca-c32c27933067
      iscommand: false
      name: Is there a file?
      type: condition
      version: -1
    taskid: 7fa291b2-c819-414f-8aca-c32c27933067
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2100,
          "y": 570
        }
      }
  "18":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: inputs.IP
                    operator: IsNotInCidrRanges
                    right:
                      value:
                        simple: 10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
                root: inputs.IP
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an IP address?
      id: 181d741e-2888-469c-8b74-6cd92a33944d
      iscommand: false
      name: Is there an IP address?
      type: condition
      version: -1
    taskid: 181d741e-2888-469c-8b74-6cd92a33944d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -230,
          "y": 570
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "20"
    note: false
    quietmode: 0
    scriptarguments:
      IP:
        complex:
          root: inputs.IP
          transformers:
          - operator: uniq
      InternalRange:
        complex:
          root: inputs.InternalRange
          transformers:
          - operator: uniq
      ResolveIP:
        complex:
          root: inputs.ResolveIP
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich IP addresses using one or more integrations.

        - Resolve IP addresses to hostnames (DNS)
        - Provide threat information
        - Separate internal and external IP addresses
        - For internal IP addresses, get host information
      id: 3e01eb38-593d-426d-8b86-59f793ab1131
      iscommand: false
      name: IP Enrichment - Generic v2
      playbookId: IP Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 3e01eb38-593d-426d-8b86-59f793ab1131
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": -230,
          "y": 770
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.IP
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "1"
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "31"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the IP found as benign?
      id: 5c355312-17ae-4388-8a4d-958e0a0c32cd
      iscommand: false
      name: Was the IP found as Benign?
      type: condition
      version: -1
    taskid: 5c355312-17ae-4388-8a4d-958e0a0c32cd
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -230,
          "y": 960
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3bd1b935-8d4d-4b78-8cc8-26f1d2991ad9
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 3bd1b935-8d4d-4b78-8cc8-26f1d2991ad9
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1530,
          "y": 1620
        }
      }
  "26":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.URL
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a URL?
      id: 68f6108c-7655-454a-819d-ffcb0efd7b77
      iscommand: false
      name: Is there a URL?
      type: condition
      version: -1
    taskid: 68f6108c-7655-454a-819d-ffcb0efd7b77
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 570
        }
      }
  "27":
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      Rasterize:
        simple: "True"
      URL:
        complex:
          root: inputs.URL
      VerifyURL:
        simple: "False"
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich URLs using one or more integrations.

        URL enrichment includes:
        * SSL verification for URLs
        * Threat information
        * Providing of URL screenshots
      id: 9d2786ee-3f56-4a0f-8dbd-3bf0c6c83cdd
      iscommand: false
      name: URL Enrichment - Generic v2
      playbookId: URL Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 9d2786ee-3f56-4a0f-8dbd-3bf0c6c83cdd
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 420,
          "y": 770
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.URL
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "1"
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "33"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the URL found as benign?
      id: 66d504b1-4789-4b82-8293-c4cb7e339d0e
      iscommand: false
      name: Was the URL found as Benign?
      type: condition
      version: -1
    taskid: 66d504b1-4789-4b82-8293-c4cb7e339d0e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 420,
          "y": 960
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: FileVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious File.
      id: 3cc70d44-9fde-47f1-8953-37a87446c690
      iscommand: false
      name: Set SuspectedVerdict to Suspicious File
      script: Set
      type: regular
      version: -1
    taskid: 3cc70d44-9fde-47f1-8953-37a87446c690
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 1450
        }
      }
  "31":
    continueonerrortype: ""
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: IPVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious IP.
      id: 8471b302-5b7d-40e6-80c4-26885685b255
      iscommand: false
      name: Set SuspectedVerdict to Suspicious IP
      script: Set
      type: regular
      version: -1
    taskid: 8471b302-5b7d-40e6-80c4-26885685b255
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -230,
          "y": 1190
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: URLVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious URL.
      id: 62b2bce2-3d36-4404-812b-37c064f6f034
      iscommand: false
      name: Set SuspectedVerdict to Suspicious URL
      script: Set
      type: regular
      version: -1
    taskid: 62b2bce2-3d36-4404-812b-37c064f6f034
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 420,
          "y": 1190
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "false"
      key:
        simple: PreviousVerdict
      value:
        simple: False Positive
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the PreviousVerdict key in context to closed as False Positive.
      id: d5f8721d-a5fc-4830-8ae6-6548554db946
      iscommand: false
      name: Set PreviousVerdict to Previously closed as False Positive
      script: Set
      type: regular
      version: -1
    taskid: d5f8721d-a5fc-4830-8ae6-6548554db946
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 970,
          "y": 260
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "17"
      - "18"
      - "26"
      - "37"
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 17cd03fd-03fc-4304-8b2b-04d8885d18ab
      iscommand: false
      name: Entity Enrichment
      type: title
      version: -1
    taskid: 17cd03fd-03fc-4304-8b2b-04d8885d18ab
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1530,
          "y": 430
        }
      }
  "37":
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 1483f669-dfec-4d0e-8fff-b68a199d7bd1
      iscommand: false
      name: User Enrichment
      type: title
      version: -1
    taskid: 1483f669-dfec-4d0e-8fff-b68a199d7bd1
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3390,
          "y": 570
        }
      }
  "38":
    continueonerrortype: ""
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "49"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 6bee4a16-2bd1-4341-8bd0-8c4e08230647
      iscommand: false
      name: AWS
      type: title
      version: -1
    taskid: 6bee4a16-2bd1-4341-8bd0-8c4e08230647
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3120,
          "y": 720
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "48"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: af0d9707-7b6d-430b-81e3-4695b327b1e0
      iscommand: false
      name: AD
      type: title
      version: -1
    taskid: af0d9707-7b6d-430b-81e3-4695b327b1e0
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 3660,
          "y": 720
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      username:
        complex:
          root: inputs.awsUser
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |
        Enrich AWS IAM user information from AWS Identity and Access Management.
        - List user access keys
        - Get user information
      id: 5ae3c4ec-83cb-4d65-855c-2a3e5d36dbab
      iscommand: false
      name: AWS IAM - User enrichment
      playbookName: AWS IAM - User enrichment
      type: playbook
      version: -1
    taskid: 5ae3c4ec-83cb-4d65-855c-2a3e5d36dbab
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3120,
          "y": 1235
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      Username:
        complex:
          root: inputs.User
    separatecontext: true
    skipunavailable: true
    task:
      brand: ""
      description: |-
        Enrich accounts using one or more integrations.
        Supported integrations:
        - Active Directory
      id: c88a3c79-44f7-4a12-8c4f-0a2005e7d523
      iscommand: false
      name: Account Enrichment - Generic v2.1
      playbookId: Account Enrichment - Generic v2.1
      type: playbook
      version: -1
    taskid: c88a3c79-44f7-4a12-8c4f-0a2005e7d523
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 3830,
          "y": 1050
        }
      }
  "42":
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      hash:
        complex:
          root: inputs.FileSHA256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns a verdict for a hash.
      id: 64ed983b-64ab-43af-890f-d68338894217
      iscommand: true
      name: Get WildFire verdict
      script: '|||wildfire-get-verdict'
      type: regular
      version: -1
    taskid: 64ed983b-64ab-43af-890f-d68338894217
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2310,
          "y": 1290
        }
      }
  "43":
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "45"
    note: false
    quietmode: 0
    scriptarguments:
      Domain:
        complex:
          root: inputs.Domain
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Enrich domains using one or more integrations.
        Domain enrichment includes:
        * Threat information
      id: 7a5f5b09-325b-4998-80e2-7c720f73f30b
      iscommand: false
      name: Domain Enrichment - Generic v2
      playbookId: Domain Enrichment - Generic v2
      type: playbook
      version: -1
    taskid: 7a5f5b09-325b-4998-80e2-7c720f73f30b
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 770
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.Domain
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a domain?
      id: 87e1d72a-5291-4da7-8b9b-577fe93a0583
      iscommand: false
      name: Is there a domain?
      type: condition
      version: -1
    taskid: 87e1d72a-5291-4da7-8b9b-577fe93a0583
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 570
        }
      }
  "45":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Score
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: DBotScore.Indicator
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: inputs.Domain
                root: DBotScore
          operator: isEqualString
          right:
            value:
              simple: "1"
      label: "yes"
    continueonerrortype: ""
    id: "45"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "46"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Was the domain found as benign?
      id: d545ab1e-c955-4c41-8230-d7b0374aa421
      iscommand: false
      name: Was the Domain found as Benign?
      type: condition
      version: -1
    taskid: d545ab1e-c955-4c41-8230-d7b0374aa421
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 960
        }
      }
  "46":
    continueonerrortype: ""
    id: "46"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: DomainVerdict
      value:
        simple: Suspicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set the SuspectedVerdict key in context to Suspicious Domain.
      id: 56202f0a-3cfd-4940-8a2a-d2ff2fc6d796
      iscommand: false
      name: Set SuspectedVerdict to Suspicious Domain
      script: Set
      type: regular
      version: -1
    taskid: 56202f0a-3cfd-4940-8a2a-d2ff2fc6d796
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1280,
          "y": 1190
        }
      }
  "47":
    continueonerrortype: ""
    id: "47"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "40"
    note: false
    quietmode: 0
    scriptarguments:
      brandname:
        simple: AWS - IAM
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns 'yes' if integration brand is available. Otherwise returns
        'no'
      id: fcf15788-cba9-4b86-8324-ac74f8284760
      iscommand: false
      name: Is AWS IAM integration available?
      script: IsIntegrationAvailable
      type: condition
      version: -1
    taskid: fcf15788-cba9-4b86-8324-ac74f8284760
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3120,
          "y": 1055
        }
      }
  "48":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.User
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "48"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there a user?
      id: 23f12fc7-72e3-4ed1-8e74-cc26f9d04f36
      iscommand: false
      name: Is there a user?
      type: condition
      version: -1
    taskid: 23f12fc7-72e3-4ed1-8e74-cc26f9d04f36
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3660,
          "y": 880
        }
      }
  "49":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.awsUser
          operator: isNotEmpty
          right:
            value: {}
      label: "yes"
    continueonerrortype: ""
    id: "49"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "25"
      "yes":
      - "47"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is there an AWS user?
      id: 8db8b77b-1b5d-4926-8847-2e03a3abeb07
      iscommand: false
      name: Is there an AWS user?
      type: condition
      version: -1
    taskid: 8db8b77b-1b5d-4926-8847-2e03a3abeb07
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 3120,
          "y": 865
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "16_25_yes": 0.32,
      "17_25_#default#": 0.24,
      "18_19_yes": 0.76,
      "18_25_#default#": 0.19,
      "20_25_yes": 0.21,
      "20_31_#default#": 0.49,
      "26_25_#default#": 0.2,
      "28_25_yes": 0.21,
      "44_25_#default#": 0.1,
      "45_25_yes": 0.16,
      "47_25_#default#": 0.68,
      "9_35_yes": 0.3,
      "9_36_#default#": 0.56
    },
    "paper": {
      "dimensions": {
        "height": 1945,
        "width": 4440,
        "x": -230,
        "y": -260
      }
    }
  }
