playbook-File_Reputation.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.6.0
    itemVersion: 2.2.4
    packID: CommonPlaybooks
    packName: Common Playbooks
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: "This playbook checks the file reputation and sets the verdict as a new
  context key.\n\nThe verdict is composed by 3 main components:\n\n* VirusTotal detection
  rate\n* Digital certificate signers\n* NSRL DB\n\nNote: a user can provide a list
  of trusted signers of his own using the playbook inputs\n "
id: File Reputation
inputs:
- description: The minimum number of positive engines needed to mark file as malicious.
  key: DetectionThreshold
  playbookInputQuery: null
  required: false
  value:
    simple: "5"
- description: A list of trusted publishers
  key: TrustedPublishers
  playbookInputQuery: null
  required: false
  value:
    simple: |-
      Microsoft Root Authority,Microsoft Timestamping Service,
      Microsoft Code Signing PCA, Microsoft Corporation
- description: The file SHA256.
  key: FileSHA256
  playbookInputQuery: null
  required: false
  value: {}
name: File Reputation
outputs:
- contextPath: VTFileVerdict
  description: VirusTotal file verdict.
  type: unknown
- contextPath: NSRLFileVerdict
  description: NSRL file verdict.
  type: unknown
- contextPath: VTFileSigners
  description: VirusTotal file signers.
  type: unknown
- contextPath: XDRFileSigners
  description: XDR file signers.
  type: unknown
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
      - "4"
      - "18"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 0036bf78-bb71-4cc0-8147-c1dcb446f610
      iscommand: false
      name: ""
      version: -1
    taskid: 0036bf78-bb71-4cc0-8147-c1dcb446f610
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": -700,
          "y": -600
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 9a0d46f3-35a0-4022-833b-6e33cda9114b
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 9a0d46f3-35a0-4022-833b-6e33cda9114b
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -700,
          "y": 530
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d188fc98-26aa-4ad3-8c92-d603b765f6ec
      iscommand: false
      name: VirusTotal Reputation
      type: title
      version: -1
    taskid: d188fc98-26aa-4ad3-8c92-d603b765f6ec
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -700,
          "y": -440
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "24"
    note: false
    quietmode: 0
    scriptarguments:
      file:
        complex:
          root: inputs.FileSHA256
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Retrieve results for a file hash using WildFire.
      id: 20ddd027-f0d2-4ee8-864e-c90c9f8697bb
      iscommand: true
      name: File enrichment
      script: '|||file'
      type: regular
      version: -1
    taskid: 20ddd027-f0d2-4ee8-864e-c90c9f8697bb
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -700,
          "y": -300
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 728d695a-84e4-41a4-8de6-2e8b792c24ee
      iscommand: false
      name: NSRL
      type: title
      version: -1
    taskid: 728d695a-84e4-41a4-8de6-2e8b792c24ee
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 670,
          "y": -440
        }
      }
  "8":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: malicious
                root: VirusTotal.SearchResults.attributes.last_analysis_stats
          operator: lessThan
          right:
            iscontext: true
            value:
              complex:
                root: inputs.DetectionThreshold
      label: Benign
    continueonerrortype: ""
    id: "8"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "17"
      Benign:
      - "14"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check file detections.
      id: 58df7ac3-e6e9-4da5-88ec-3a6b8268872b
      iscommand: false
      name: Check file detections
      type: condition
      version: -1
    taskid: 58df7ac3-e6e9-4da5-88ec-3a6b8268872b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -250,
          "y": 90
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "11"
    note: false
    quietmode: 0
    scriptarguments:
      ignore-outputs:
        simple: "false"
      method:
        simple: GET
      saveAsFile:
        simple: test.txt
      url:
        simple: https://hashlookup.circl.lu/lookup/sha256/${inputs.FileSHA256}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Sends http request. Returns the response as json.
      id: 657cdfbc-0d99-4fc1-8130-541ac61a46de
      iscommand: false
      name: Check the file hash against NSRL DB
      script: http
      type: regular
      version: -1
    taskid: 657cdfbc-0d99-4fc1-8130-541ac61a46de
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": -300
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: NSRLCheckResults=
      ignore-outputs:
        simple: "true"
      value:
        complex:
          accessor: Body
          root: HttpRequest.Response
          transformers:
          - operator: Stringify
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: 'Parse a given JSON string "value" to a representative object.
        Example: ''{"a": "value"}'' => {"a": "value"}.'
      id: 83169b11-c3c4-452c-8a9b-e8cbb65740ce
      iscommand: false
      name: Parse HTTP response body
      script: ParseJSON
      type: regular
      version: -1
    taskid: 83169b11-c3c4-452c-8a9b-e8cbb65740ce
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 670,
          "y": -120
        }
      }
  "12":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: message
                root: NSRLCheckResults
          operator: isNotEqualString
          right:
            value:
              simple: Non existing SHA-256
      label: Found Results
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      Found Results:
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check NSRL search results.
      id: 0daec705-f44f-4630-872a-ecfa3227ddab
      iscommand: false
      name: Check NSRL search results
      type: condition
      version: -1
    taskid: 0daec705-f44f-4630-872a-ecfa3227ddab
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 670,
          "y": 90
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: NSRLFileVerdict
      value:
        simple: IsNSRL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: afa05da2-350f-4d09-85f1-7d9ddb31477c
      iscommand: false
      name: Set file verdict - NSRL
      script: Set
      type: regular
      version: -1
    taskid: afa05da2-350f-4d09-85f1-7d9ddb31477c
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 460,
          "y": 350
        }
      }
  "14":
    continueonerrortype: ""
    id: "14"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: VTFileVerdict
      value:
        simple: Benign
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 52efc87e-ca13-4c85-855d-83a4f04374b9
      iscommand: false
      name: Set file verdict - VT-Benign
      script: Set
      type: regular
      version: -1
    taskid: 52efc87e-ca13-4c85-855d-83a4f04374b9
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -40,
          "y": 350
        }
      }
  "15":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: organization
                root: VirusTotal.SearchResults.attributes.trusted_verdict
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.TrustedPublishers
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: verdict
                root: VirusTotal.SearchResults.attributes.trusted_verdict
          operator: isEqualString
          right:
            value:
              simple: goodware
      label: Trusted Signers
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "22"
      Trusted Signers:
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check file signature.
      id: df8ccfaa-c452-4c35-837c-4e80a383b1d1
      iscommand: false
      name: Check file signature
      type: condition
      version: -1
    taskid: df8ccfaa-c452-4c35-837c-4e80a383b1d1
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -1170,
          "y": 90
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: VTFileSigners
      value:
        simple: Trusted
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: bc1bdba5-711c-417d-8e1b-beb3c358ea82
      iscommand: false
      name: Set file verdict - VT-TrustedSigners
      script: Set
      type: regular
      version: -1
    taskid: bc1bdba5-711c-417d-8e1b-beb3c358ea82
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -960,
          "y": 350
        }
      }
  "17":
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: VTFileVerdict
      value:
        simple: Malicious
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7088e81b-b654-427a-83be-8f89bf00a1e2
      iscommand: false
      name: Set file verdict - VT-Malicious
      script: Set
      type: regular
      version: -1
    taskid: 7088e81b-b654-427a-83be-8f89bf00a1e2
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -460,
          "y": 350
        }
      }
  "18":
    continueonerrortype: ""
    id: "18"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d51edea1-e13a-4342-83a1-804f7e2df09e
      iscommand: false
      name: Cortex XDR
      type: title
      version: -1
    taskid: d51edea1-e13a-4342-83a1-804f7e2df09e
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": -2070,
          "y": -440
        }
      }
  "19":
    conditions:
    - condition:
      - - ignorecase: true
          left:
            iscontext: true
            value:
              complex:
                accessor: action_process_signature_vendor
                root: PaloAltoNetworksXDR.Incident.alerts
                transformers:
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: ${PaloAltoNetworksXDR.Incident.alerts.os_actor_process_signature_vendor}
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: ${PaloAltoNetworksXDR.Incident.alerts.actor_process_signature_vendor}
                  operator: append
                - args:
                    item:
                      iscontext: true
                      value:
                        simple: ${PaloAltoNetworksXDR.Incident.alerts.causality_actor_process_signature_vendor}
                  operator: append
          operator: inList
          right:
            iscontext: true
            value:
              complex:
                root: inputs.TrustedPublishers
      label: Trusted Signers
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      Trusted Signers:
      - "20"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check file signature.
      id: 96728cac-a5cf-41e5-8cde-43882c9dd70f
      iscommand: false
      name: Check file signature
      type: condition
      version: -1
    taskid: 96728cac-a5cf-41e5-8cde-43882c9dd70f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -2070,
          "y": 90
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: XDRFileSigners
      value:
        simple: Trusted
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 7d95a4cb-4bf2-4ab5-8c7f-f3c97d5ea43f
      iscommand: false
      name: Set file verdict - XDR-TrustedSigners
      script: Set
      type: regular
      version: -1
    taskid: 7d95a4cb-4bf2-4ab5-8c7f-f3c97d5ea43f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1860,
          "y": 350
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: NSRLFileVerdict
      value:
        simple: IsNotNSRL
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: bb096e6a-72b8-43f3-81a3-14633d6a58d3
      iscommand: false
      name: Set file verdict - NSRL
      script: Set
      type: regular
      version: -1
    taskid: bb096e6a-72b8-43f3-81a3-14633d6a58d3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 880,
          "y": 350
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: VTFileSigners
      value:
        simple: UnTrusted
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 02ee8e00-beda-4648-8360-5cfd3d0317db
      iscommand: false
      name: Set file verdict - VT-TrustedSigners
      script: Set
      type: regular
      version: -1
    taskid: 02ee8e00-beda-4648-8360-5cfd3d0317db
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -1380,
          "y": 350
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: XDRFileSigners
      value:
        simple: UnTrusted
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 9bc117b9-97ee-4aa4-81b5-e2ca1e5c9549
      iscommand: false
      name: Set file verdict - XDR-TrustedSigners
      script: Set
      type: regular
      version: -1
    taskid: 9bc117b9-97ee-4aa4-81b5-e2ca1e5c9549
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": -2280,
          "y": 350
        }
      }
  "24":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: VirusTotal
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "3"
      "yes":
      - "15"
      - "8"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks whether there are results from VirusTotal.
      id: 5205d32a-2c3a-42ca-8586-04680de9bc5b
      iscommand: false
      name: Check for VT results
      type: condition
      version: -1
    taskid: 5205d32a-2c3a-42ca-8586-04680de9bc5b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": -700,
          "y": -120
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "12_13_Found Results": 0.64,
      "12_21_#default#": 0.84,
      "15_16_Trusted Signers": 0.64,
      "15_22_#default#": 0.8,
      "19_20_Trusted Signers": 0.66,
      "19_23_#default#": 0.81,
      "8_14_Benign": 0.78,
      "8_17_#default#": 0.8
    },
    "paper": {
      "dimensions": {
        "height": 1195,
        "width": 3540,
        "x": -2280,
        "y": -600
      }
    }
  }
